{
  "singleQuote": true,
  "semi": true,
  "trailingComma": "es5",
  "arrowParens": "always",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "endOfLine": "lf",
  "htmlWhitespaceSensitivity": "css",
  "printWidth": 120,
  "quoteProps": "as-needed",
  "tabWidth": 2
}
